
  /admin/login

  login: admin@admin.com
  password: 123456


  Environment ......................................................................................................................................
  Application Name ......................................................................................................................... Laravel
  Laravel Version ........................................................................................................................... 11.4.0
  PHP Version ............................................................................................................................... 8.2.18
  Composer Version ........................................................................................................................... 2.7.2
  Environment ................................................................................................................................ local
  Debug Mode ............................................................................................................................... ENABLED
  URL .................................................................................................................................... localhost
  Maintenance Mode ............................................................................................................................. OFF

  Cache ............................................................................................................................................
  Config ................................................................................................................................ NOT CACHED
  Events ................................................................................................................................ NOT CACHED
  Routes ................................................................................................................................ NOT CACHED
  Views ..................................................................................................................................... CACHED

  Drivers ..........................................................................................................................................
  Broadcasting ................................................................................................................................. log
  Cache ................................................................................................................................... database
  Database .................................................................................................................................. sqlite
  Logs .............................................................................................................................. stack / single
  Mail ......................................................................................................................................... log
  Queue ................................................................................................................................... database
  Session ................................................................................................................................. database

  Filament .........................................................................................................................................
  Packages ......................................................................................... filament, forms, notifications, support, tables
  Version .................................................................................................................................. v3.2.71
  Views .............................................................................................................................. NOT PUBLISHED

  Livewire .........................................................................................................................................
  Livewire ................................................................................................................................. v3.4.10

